.app-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: #282828;
}
.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: black;
    height: 80px;
    margin: 10px;
}

.logo {
    position: absolute;
    width: 80px;
    left: 150px;
}

.title {
    position: relative;
    color: white;
    text-align: center;
    font-size: 400%;
    margin: 0;
}

.nav {
    background-color: black;
    height: 600px;
    width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    color: #c6c6c6;
}

.main {
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: black;
    color: #c6c6c6;
    height: 600px;
    width: 1000px;
}
.main h1{
    text-align: center;
}
p{
    text-indent: 20px;
}
.film{
    width: 30%;
    margin: 10px;
}
.aside {
    background-color: black;
    height: 600px;
    width: 200px;
    margin-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    color: #c6c6c6;
}
.aside p{
    margin:10px;
}
.aside h2{
    text-align: center;
}
.footer {
    background-color: black;
    color: #c6c6c6;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 80px;
}
.footer .info{
    position: absolute;
    left: 50px;
    margin: 32px 0px 0 0;
}
.footer .help{
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    right: 50px;
    margin: 30px 0px 0 0;
}
ul li{
    list-style-type: none;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: #c6c6c6;
}